*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	.result-box {
        border-radius: 0 0 10px 30px;
		background: rgb(46, 43, 233);
		background: linear-gradient(
			0deg,
			rgba(46, 43, 233, 1) 10%,
			rgba(120, 87, 255, 1) 90%
		);
	}
}
